<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <ul>
    <li><h3> <%= @post.title %> <span class="author-show">By <%= @post.author %><%= image_tag @post.avatar.url(:square) %></span></h3></li>
    <li> <%= @post.body %></li>
    </ul>
    <%= link_to 'Publish Post', drafts_path(post_id: @post.id), method: 'post' %>
  </div>
</div>
