<div class="well comment-index">
  <h3><%= markdown(comment.body).html_safe %></h3>
  <h5><%= markdown(comment.author_name).html_safe %> <%= comment.updated_at %></h5>
  <div id="delete-comment" type="button" class="btn btn-sunny btn-xs text-uppercase"><%= link_to 'Delete Comment', post_comment_path(@post, comment), method: 'delete', class: 'color-links' %></div>
  <div id="delete" type="button" class="btn btn-sky btn-xs text-uppercase"><%= link_to 'Edit Comment', edit_post_comment_path(@post, comment), class: 'color-links' %></div>
</div>
