<div class="row">
  <div class="col-md-12 tag-title">
    <h1 class="tag-header">Tags</h1>
  </div>
  <div class="col-md-4 col-md-offset-1 well tag-create">
    <%= bootstrap_form_for(@tag) do |f| %>
      <%= f.text_field :name, required: true %>
      <%= f.submit "Create Tag" %>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-1 well tag-index">
    <ul>
      <% @tags.each do |tag| %>
      <li><h4><%= tag.name %> <span id="delete-tag" type="button" class="btn btn-sunny btn-xs"><%= link_to 'Delete', tag_path(tag), method: 'delete', class: 'color-links tag-delete-button' %></span></h4></li>
      <% end %>
    </ul>
  </div>
</div>
