<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Blog Posts</h2>
    <div class="post-form">
      <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_field :author %>
        <%= f.text_area :body %>
        <%= f.submit "New Post" %>
      <% end %>
    </div>
    <div class="well">
      <ul class="post-display">
        <% @posts.each do |post| %>
        <li class="title"><h4><%= post.title %></h4></li>
        <li class="post-body"><%= markdown(post.body).html_safe %></li>
        <li class="author"><%= post.author %></li>
        <li><%= post.status %></li>
        <% end %>
        <br/>
      </ul>
    </div>
  </div>
</div>
