<div class="row">
  <div class="col-md-12 well">
    <h2>Blog Posts</h2>
    <%= render partial: 'shared/post_table', locals: { posts: @posts} %>
  </div>
</div>
<div class="row">
  <div class="panel-body col-md-10">
    <ul class="nav navbar-nav" id="new-post-form">
      <li class="panel panel-info" id="dropdown">
        <a data-toggle="collapse" href="#dropdown-lvl1">
          <h3>Create A Blog Post</h3><span class="caret"></span>
        </a>
        <div id="dropdown-lvl1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="nav navbar-nav">
              <%= bootstrap_form_for(@post) do |f| %>
                <%= f.text_field :title %>
                <%= f.text_field :author %>
                <%= f.text_area  :body %>
                <%= f.file_field :avatar %>
                <%= f.select :tags, Tag.all.collect { |p| [p.name, p.id] }, {}, { multiple: true } %>
                <%= f.submit "New Post" %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
