<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <ul>
    <li><h3> <%= @post.title %> <span class="author-show">By <%= @post.author %></span></h3></li>
    <li class="post-body"><%= markdown(@post.body).html_safe %></li>
    <li class="edit-post"><%= link_to 'Edit', edit_post_path(@post) %></li>
    <li class="edit-post"><%= link_to 'Delete', post_path(@post), method: 'delete' %></li>
    <li class="mark-draft"><%= link_to 'Mark as Draft', draft_path(@post), method: 'delete' %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <%= bootstrap_form_for [@post, @comment] do |f| %>
      <%= f.text_field :body %>
      <%= f.text_field :author_name %>
      <%= f.submit "Add Comment" %>
    <% end %>
  </div>
</div>
