<div class="row">
  <div class="col-md-12 well">
    <h1>Draft Posts</h1>
    <table id="post-table" class="table table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Number of Comments</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <div type="button" class="btn btn-sunny-tag btn-xs text-uppercase"><%= link_to 'All', '#', class: 'color-links filter-tag' %></div>
          <% @tags.each do |tag| %>
            <div type="button" class="btn btn-sunny-tag btn-xs text-uppercase"><%= link_to tag.name, '#', class: 'color-links filter-tag' %></div>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @posts.each do |post| %>
          <tr class="post-table-data">
            <td class="title"><%= link_to post.title, draft_path(post) %></td>
            <td class="author"><%= post.author %></td>
            <td><%= post.comments.count %></td>
            <td class="post-tag"><%= post.print_tags %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
